@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

*{
    padding: 0;
    margin: 0;
    background-color: black;
}


#logo{
    width: 30%;
    height: auto;
    display: block;
    margin: auto;
    padding: auto;
}

#flag{
    width: 20%;
    height: auto;
    padding-left: 15%;
    float: left;
}

#intro{
    color: white;
    font-family: 'Pirata One', cursive;
    font-size: 50px;
    padding-top: 2%;
    padding-right: 10%;
}

#lookingfor{
    color: white;
    font-family: 'Pirata One', cursive;
    font-size: 42px;
    padding-top: 10%;
    padding-right: 20%;
    padding-left: 20%;
}

#lookingfor p:nth-of-type(1){
    border: 1px solid white;
    border-radius: 10%;
    float: left;
    cursor: pointer;
}
#lookingfor p:nth-of-type(2){
    border: 1px solid white;
    border-radius: 10%;
    float: right;
    cursor: pointer;
}