@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

*{
    padding: 0;
    margin: 0;
    background-color: black;
}

a:link {
    text-decoration:none; 
}

#homelogo{
    width: 40%;
    height: auto;
    display: block;
    margin: auto;
    padding: auto;
    padding-bottom:3%;
}

#flag{
    width: 20%;
    height: auto;
    display: block;
    margin: auto;
    padding-bottom: 5%;
}

#intro{
    color: white;
    font-family: 'Pirata One', cursive;
    font-size: 50px;
    text-align: center;
    padding-bottom: 3%;
}

#lookingfor{
    color: white;
    font-family: 'Pirata One', cursive;
    font-size: 42px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 30%;
}

#lookingfor a:nth-of-type(1){
    border: 1px solid white;
    border-radius: 10%;
    cursor: pointer;
}
#lookingfor p:nth-of-type(2){
    border: 1px solid white;
    border-radius: 10%;
    cursor: pointer;
} 