*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#logo{
    width: 15%;
    height: 15%;
    padding-left: 3%;
}

.signinmain {
    width: 400px;
    margin: 0 auto;
    text-align: left;
    padding-top: 10%;
}
  
.signinmain h1 {
    text-align: center;
}
  
.signinmain .signinform {
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding-top: 2%;
    padding-bottom: 2%;
}
  
.signinmain .signinform label {
    display: inline-block;
    width: 75px;
    margin-right: 10px;
    text-align: right;
}
  
.signinmain .signinform input:not([type="submit"]) {
    flex-grow: 1;
}

#buttonSign{
    height: 40px;
    width: 100px;
}

input {
    height: 40px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    outline: none;
}

label {
    font-size: 24px;
    padding-top: 4px;
}